#----------------- GITIGNORE FILE V 1.4 -----------------#
# Revision History
# V 1.O    - Initial
# V 1.1    - Added fstab
# V 1.2    - Added *.env,TEMPLATE.*
# V 1.3    - Added a few more tmp file extensions
# V 1.4    - Added .creds. Cleanup
#--------------------------------------------------------#

#---------- FILE TYPES
*~                          # Tmp file
*.7z                        # 7zip file
* alias                     # macOS alias
*.bak                       # Backup file
*.cab                       # MS Windows installer file
*.class                     #
*.com                       #
[Dd]esktop.ini              # MS Windows config file
ehthumbsdb                  #
*.dll                       # Dynamic library file
*.dmg                       # macOS installer file
*.exe                       # Windows executable file
*.fseventsd                 #
fstab                       # FSTAB linux file
*.gz                        # gzip file
*.icns                      # Icons
Icon?                       # icon
*.iso                       # iso file
*.jar                       #
*.lnk                       # MS Windows shortcuts
*.log                       # log file
*.msi                       # MS Windows installer file
*.msix                      # MS Windows installer file
*.msm                       # MS Windows installer file
*.msp                       # MS Windows installer file
*.o                         # Compiled source file
*.rar                       # rar file
*.so                        # Compiled source file
*.stackdump                 # Dump file
*.swo                       # Tmp file
*.swp                       # Tmp File
*.tar                       # tar file
TEMPLATES.*                 # Template files
Thumbs.AppleDB              # macOS Thumbnails
Thumbs.db                   # MS Windows thumbnails
*.tmp                       # Temp file
*.Trashes                   # Trash can
*.vscode                    # vscode file
*.zip                       # zip file

#----- File(s) that might appear at the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#----- File(s) containing secrets
.creds
.docker-creds
*.env
*.secret

#----- Specific Files
unRaid

#---------- DIRECTORY TYPES
.AppleDouble                 # macOS
.DS_Store*                   # Synology Cloud Station / Drive storage config file
.DS_Store
.localized                   # macOS
.LSOverride                  # macOS
.AppleDB                     # Potentially created on remote AFP share
.AppleDesktop                # Potentially created on remote AFP share
.apdisk                      # Potentially created on remote AFP share
Network Trash Folder         # Potentially created on remote AFP share
Temporary Items              # Potentially created on remote AFP share